*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font-family: monospace;
    flex-direction: column;
}
h2{
    text-align: center;
    color: #222;
    font-size: 8px;
    margin-bottom: 20px;
}


button{
    padding: 5px 10px;
    font-size: 8px;
    ba

}