*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}

nav{
    background-attachment: #222;
    color: white;
    padding: 10px 0;
    text-align: center;
}


nav ul{
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: auto;
}

nav li {
    display: inline;
    margin-right: 5px;
}


nav a{
    text-decoration: none;
    color: white;
    font-size: 8px;
}