*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
display: flex;
justify-content: center;
height: 100vh;
flex-direction: column;
align-items: center;
}

h2{
    font-size: 12px;
    font-family: cursive;
}

h3{
    color: #333;
    background-image: linear-gradient(to bottom, transparent 0%, transparent 90%, orangered 90%, orangered 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
    cursor: pointer;
}

h3:hover{
    background-size: 100% 100%;
    background-position-x: left;
}