* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

h2 {
    font-size: 12px;
}

#container{
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px

}

#counter{
    font-size: 10px;
    font-weight: bold;
}


#increment, #decrement{
    background-color: lightblue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 40%;
}