*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    color: orangered;
    font-family: monospace;
}
h2{
    font-size: 12px;
    margin-bottom: 5px;

}



ul{
  display: flex;
  gap: 12px;
  cursor: pointer;
  color: white;
  max-width: 400px;
}

li{
  list-style: none;
  display: block;
  font-size: 10px;
  transition: .5s;
}

ul:hover li{
  filter: blur(5px)
}
ul li:hover{
  filter: blur(0px);
}